/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2019, 11:42:28 AM
    Author     : Zayar Thant
*/

#slide_bar{
    display:none;
    z-index:2;
    width:20%;
    min-width:300px;
}

a{
    text-decoration: none;
}

#main_content{
    margin-top:100px;
}

.menu-photo{
    width:100%;
    height: 300px;
}

.confirm-photo{
    width: 100%;
}

.confirm-list-photo{
    width: 40%;
}

#confirm_box{
    font-size: 3em !important;
}

.message_btn{
    cursor: pointer;
}

.message_btn:hover{
    color: black;
}

.messages{
    
}